body {
	background-color: #b8d6d8;
	background-image: url('/Users/virginiachae/wdi/wdi33/project0-racer/imgs/bg.png');
	background-size: auto;
}

h1, h3 {
	text-align: center;
}

 p {
	 text-align: center;
 }
.container {
	width: 1200px;
	margin: 0 auto;
	height: 100vh;
}

.square {
	width: 200px;
	height: 200px;
}

.square.bear {
	background-image: url('/Users/virginiachae/wdi/wdi33/project0-racer/imgs/bear.png');
	background-size: cover;
}

.square.doe{
	background-image: url('/Users/virginiachae/wdi/wdi33/project0-racer/imgs/doe.png');
	background-size: cover;
}
