body {
	background-color: Snow;
}

h1, h3 {
	text-align: center;
}

 p {
	 text-align: center;
 }
.container {
	width: 1200px;
	margin: 0 auto;
}

.square {
	width: 100px;
	height: 100px;
	opacity: 0.1;
}

.pink {
	background-color: pink;
}

.green {
	background-color: MediumAquamarine;
}
